{% extends 'base.html' %}

{% block title %}
  <title>Search-Number</title>
{% endblock title %}

{% block content %}
   <br>
    <form method = 'POST' class = "container">
   {% csrf_token %}
   <div class="form-group row ">
      
   <div class="form-group row">
    <div class=" col-lg-4 ">
    <input type="text" class ='form-control' name='phone_number'placeholder="Mobile Number?" value = {{ patient_obj.phone_number}} >
    </div>
    <div class=" col-lg-2">
    <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
  <br>
</form>
<br>
{% if all %}


<br>
<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">disease</th>
      <th scope="col">D.O.F.A</th>
      <th scope="col">Contacts</th>
      <th scope="col">edit</th>
      <th scope="col">Delete</a></th>
      
    </tr>
  </thead>
  <tbody>
      
      {% for obj in all%}
      
        <tr>
          <th scope="row">{{ obj.name}}</th>
          <td>{{ obj.disease}}</td>
          <td>{{ obj.firstappointment}}</td>
          <td>{{ obj.phone_number}}</td>
          <td><a href="{%url 'edit_patient' obj.id %}"><button type="button" class="btn btn-outline-primary">Edit</button></td>
          <td><a href="{%url 'delete_patient' obj.id %}"><button type="button" class="btn btn-outline-primary">Delete</button></td>
        </tr>
        {% endfor %}
        {% endif %}
  </tbody>
   </table>

{% endblock content %}